<p id="notice"><%= notice %></p>

<h1>Listing Songs</h1>

<table id="songs" class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Length</th>
      <th>Price</th>
      <th>Artist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @songs %>
  </tbody>
</table>

<br>

<%= button_to "Search Button", logout_path, method: :delete%>

<a class="btn btn-primary" data-toggle="collapse" href="#collapseDiv">Add a new Song with AJAX</a>

<div class="collapse" id="collapseDiv">
  <%= render "form"%>
</div>

<a href="#" id="show"> Add another song with Coffeescript</a>

<div id="form_song">
  <%= render "form"%>
</div>

