<p id="notice"><%= notice %></p>

<h1>Listing Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Description</th>
      <th>Song</th>
      <th>Reviewer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.rating %></td>
        <td><%= review.description %></td>
        <td><%= review.song %></td>
        <td><%= review.reviewer %></td>
        <td><%= link_to 'Show', review %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
