<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Description:</strong>
  <%= @review.description %>
</p>

<p>
  <strong>Song:</strong>
  <%= @review.song %>
</p>

<p>
  <strong>Reviewer:</strong>
  <%= @review.reviewer %>
</p>

<%= link_to 'Back', reviews_path %>
